@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-secondary: #f0f0f0;
  --foreground: #171717;
  --foreground-secondary: #646464;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-secondary: #191919;
    --foreground: #ededed;
    --foreground-secondary: #b4b4b4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Map styles */
.mapboxgl-control-container {
  display: none;
}

.map-marker {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(59 130 246);
  transform: translate(-50%, -50%);
  border: 3px solid rgba(255, 255, 255, 0.95);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
