@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-dark: #0a0a0a;
  --background-secondary: #f0f0f0;
  --background-secondary-dark: #191919;
  --foreground: #171717;
  --foreground-dark: #ededed;
  --foreground-secondary: #646464;
  --foreground-secondary-dark: #b4b4b4;
}

body {
  @apply font-sans text-[#171717] dark:text-[#ededed] dark:bg-[#0a0a0a];
}

p {
  @apply text-secondary dark:text-secondary-dark;
}

h3 {
  @apply font-medium leading-tight;
}

b {
  @apply font-semibold text-primary dark:text-primary-dark;
}

figcaption {
  @apply text-secondary dark:text-secondary-dark text-center text-sm max-w-lg mx-auto;
}

code {
  @apply bg-background-secondary dark:bg-background-secondary-dark px-2 py-1 rounded-md text-sm;
}

/* Map styles */
.mapboxgl-control-container {
  display: none;
}

.map-marker {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(59 130 246);
  transform: translate(-50%, -50%);
  border: 3px solid rgba(255, 255, 255, 0.95);
}

@media (hover: hover) {
  .animated-list:hover li {
    opacity: 0.5;
  }

  .animated-list:hover li:hover {
    opacity: 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
